/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

$firstcolor: #ac4142;
$firstcolor: #0c6162;
$firstcolor: #fcc102;
$highlightcolor: #cc6162;
$highlightfront: #fff;
$titlecolor: $firstcolor;

$darkback: #1d1d18;
$darkback: #252525;
$darkfront: #ffffff;
$lightfront: #515151;
$lightback: #ffffff;

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  //line-height: 1.5;
}

body {
  color: $lightfront;
  background-color: $lightback;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  h1,
  h2,
  h3 {
    color: $lightfront;
  }
  code {
    background-color: transparent;
    color: $highlightcolor;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: $darkback;
    color: $darkfront;
    h1,
    h2,
    h3 {
      color: $darkfront;
    }
  }
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  text-decoration: none;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  overflow-x: scroll;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Quotes */
blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: #7a7a7a;
  border-left: 0.25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////

.page {
  padding-left: 0;
  padding-right: 0;
  display: grid;
  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 10px;
  height: 100vh;
}

@media (min-width: 30rem) {
  .sidebar {
    display: flex;
    height: 100vh;
    background: linear-gradient(to right, #efa300 0%, $firstcolor 100%);
  }
  .page {
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";
    grid-template-columns: 12rem auto;
    grid-template-rows: auto 1fr auto;
    grid-gap: 0px;
    height: 100vh;
  }
  .sidebar-sticky {
    display: inline-block;
    align-self: flex-end;
    text-align: left;
    margin-bottom: 30px;
  }
  .content {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.header {
  grid-area: header;
  background-color: $firstcolor;
  padding-left: 10px;
  padding-right: 10px;

  .logo {
    font-size: 20px;
    vertical-align: super;
  }
  button {
    margin-top: 4px;
    float: right;
  }
}
.sidebar {
  grid-area: sidebar;
  background-color: $firstcolor;
  text-align: center;
  padding: 2rem 1rem;
}
.content {
  grid-area: content;
  max-width: 70em;
  padding-left: 5px;
  padding-right: 5px;
}
.footer {
  grid-area: footer;
  color: #777;
  text-align: center;
  font-size: 10px;

  .social {
    margin-top: 10px;
    margin-bottom: 10px;
    a {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 48em) {
  body {
    font-size: 14px;
  }
}

.content a {
  color: #f91;
}

@media screen and (prefers-color-scheme: dark) {
  .content a {
    color: $firstcolor;
  }
}

.post {
  line-height: 1.5;
  a {
    color: $firstcolor;
  }
  .post-summary-next {
    color: #aaa;
    text-align: right;
    font-variant: small-caps;
    a,
    a:active,
    a:hover,
    a:focus,
    a:visited {
      color: #aaa;
    }
  }
}

h1.post-title {
  text-align: center;
}
span.post-date {
  display: block;
  text-align: right;
}

body {
  .content h1 a {
    color: $titlecolor;
    text-shadow: 1px 1px #961;
  }
  .sidebar {
    color: #000;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    .content h1 a {
      color: $titlecolor;
    }
    .footer {
      padding-bottom: 10px;
      .social {
        img {
          filter: invert(27%) sepia(91%) saturate(2878%) hue-rotate(40deg) brightness(104%) contrast(97%);
        }
      }
    }
  }
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
}
.sidebar-nav-item {
  display: block;
}
li.sidebar-nav-item {
  a {
    text-decoration: underline;
    color: #000;
    font-weight: bold;
  }
}
.sidebar-nav-item.active {
  font-weight: bold;
}

.sidebar-about h1 a {
  color: #000;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  //font-size: 3.0rem;
}

.lead {
  font-size: 1.25rem;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  margin-block-end: 20px;
  margin-block-start: 0px;
  text-size-adjust: 100%;

  color: #111;
  font-weight: bold;
  // light sidebar
  // color: rgba(255, 255, 255, 0.5);
}

.taxonomy {
  h1 {
    text-align: center;
    font-size: 50px;
  }
}
