<h1>{{ config.title }}</h1>
<p class="lead">Vincent Hanquez's adventures</p>
<!-- <a href="{{ config.base_url }}">{{ config.title }}</a> -->
<nav id="nav-site">
    <ul>
        <li><a class="icon" href="{{ config.base_url }}"><img src="/icons/home.svg"></a> </li>
        <li><a class="icon" href="{{ get_url(path="rss.xml", trailing_slash=false) }}"><img src="/icons/rss.svg"></a>
        </li>
        <li><a class="icon" href="https://github.com/vincenthz" target="_blank"><img src="/icons/gh.svg"></a></li>
        <li><a class="icon" href="https://twitter.com/vincenthz" target="_blank"><img src="/icons/tw.svg"></a></li>
    </ul>
</nav>
